C:\Users\eoost\Documents\Arduino\esp32-flight-data-recorder\debug.cfg
C:\Users\eoost\Documents\Arduino\esp32-flight-data-recorder\debug.svd
C:\Users\eoost\Documents\Arduino\esp32-flight-data-recorder\debug_custom.json